.Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    background: #222222;
}

.cappingInfo {
    padding: 10px;
    display: flex;
    justify-content: center;
}
